{% extends "base_generic.html" %}

{% block content %}
  <h1>Download Details</h1>
  <div class="row g-0">
    <div class="card mb-4 col-sm-auto">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <strong>{{ download.title }}</strong>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Status:</th>
                {% include "partials/download_status.html" %}
              </tr>
              <tr>
                <th scope="row">URL:</th>
                <td><a href="{{ download.url }}">{{ download.url }}</a></td>
              </tr>
              <tr>
                <th scope="row">Source:</th>
                <td>{{ download.source.name }}</td>
              </tr>
              <tr>
                <th scope="row">File Path:</th>
                {% if download.status == "A" or download.status == "M" %}
                <td><s>{{ download.file_path }}</s></td>
                {% else %}
                <td>{{ download.file_path }}</td>
                {% endif %}
              </tr>
              <tr>
                <th scope="row">Command:</th>
                <td>{{ download.command.get_name_display }}</td>
              </tr>
              <tr>
                <th scope="row">Created:</th>
                <td>{{ download.created_at }}</td>
              </tr>
              <tr>
                <th scope="row">Size:</th>
                <td>{{ download.size }}</td>
              </tr>
              <tr>
                <th scope="row">Slug:</th>
                <td>{{ download.slug_id }}</td>
              </tr>
              <tr>
                <th scope="row">Channel Name:</th>
                <td>{{ download.channel_name }}</td>
              </tr>
              <tr>
                <th scope="row">Quality:</th>
                <td>{{ download.file_format.quality }}</td>
              </tr>
              <tr>
                <th scope="row">Owner:</th>
                <td>{{ download.created_by }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if download.status == "D" or download.status == "F" %}
        <a class="btn btn-primary {% if user != download.created_by %}disabled{% endif %}" href="{% url 'download:home' %}?continue={{download.id}}">
          {% if download.status == "D" %}Continue{% else %}Retry{% endif %}
        </a>
        {% elif download.status != "A" and download.status != "S" %}
        <a class="btn btn-primary {% if user != download.created_by %}disabled{% endif %}" href="{% url 'download:archive' download.id %}">Delete</a>
        {% endif %}
        {% if user != download.created_by %}
        <span><small class="text-muted">Action disabled because you don't own this download</small></span>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}