<div class="col-sm-auto text-white bg-dark">
  {% block sidebar %}
  <div class="text-center mt-3 mb-2">
    <i class="bi-file-arrow-down" style="font-size: 3rem; color: cornflowerblue;"></i>
    <i class="bi-file-lock" style="font-size: 3rem; color: cornflowerblue;"></i>
  </div>
  <ul class="nav nav-pills flex-column list-unstyled">
    <li class="nav-item">
      <a href="{% url 'download:home' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <i class="bi-house-door-fill"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'download:list' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'list' %}active{% endif %}">
        <i class="bi-list-ul"></i>
        Downloads
      </a>
    </li>
  </ul>
  {% endblock %}
</div>