<div class="col-sm-auto text-white bg-dark">
  {% block sidebar %}
    <ul class="nav nav-pills flex-column list-unstyled py-3">
      <li class="nav-item">
        <a href="{% url 'download:home' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'download:list' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'list' %}active{% endif %}">Downloads</a>
      </li>
    </ul>
  {% endblock %}
</div>