html, body {
  height: 100%;
}

.progress-bar {
  float: left;
  text-align: center;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.asteriskField {
  display: none;
}